---
layout: default
Galleries: 
  3d: 
    - 
      src: "gallery/work/actor.jpg"
      title: "Actor"
      medium: "Maya"
      year: "2011"
    - 
      src: "gallery/work/bot.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/dragon.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/oilspill.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/roboticBeast.jpg"
      title: ""
      medium: ""
      year: ""
  illustration:
    - 
      src: "gallery/work/angryBot.jpg"
      title: "Angry Bot"
      medium: "Digital"
      year: "2011"
    - 
      src: "gallery/work/blimpWelders.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/cintiqFirst.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/clipped_wings.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/compTroller.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/crypt_keeper.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/einstien.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/flower.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/girl_flame.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/goddessOfPollution copy.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/grotesqueFaces.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/kimonoSamurai.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/marc_andre_hamelin.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/nature_play.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/samurai.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/scareCrow.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/warMarch_web.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/welders_conceptDrawing.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/woman_horse.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/woman_sketch.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/work/yellowJacketNewYear.jpg"
      title: ""
      medium: ""
      year: ""

  sketchbook: 
    - 
      src: "gallery/sketch/Scan 1.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 2.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 3.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 4.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 5.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 6.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 7.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 8.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 9.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 10.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 11.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 13.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 14.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 15.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 16.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 17.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 18.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 20.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 23.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "gallery/sketch/Scan 24.jpg"
      title: ""
      medium: ""
      year: ""
---

{% include galleries.html %}

{% include artist.html %}