---
layout: default
Galleries: 
  3d: 
    - 
      src: "/gallery/work/actor.jpg"
      title: "Actor"
      medium: "Maya"
      year: "2011"
    - 
      src: "/gallery/work/bot.jpg"
      title: "Bot"
      medium: "3D"
      year: "2011"
    - 
      src: "/gallery/work/dragon.jpg"
      title: "Dragon"
      medium: "3D"
      year: "2011"
    - 
      src: "/gallery/work/oilspill.jpg"
      title: "Oil  Spill"
      medium: "3D"
      year: "2011"
    - 
      src: "/gallery/work/roboticBeast.jpg"
      title: "Robotic Beast"
      medium: "3D"
      year: "2011"
  illustration:
    - 
      src: "/gallery/work/angryBot.jpg"
      title: "Angry Bot"
      medium: "Digital"
      year: "2011"
    - 
      src: "/gallery/work/blimpWelders.jpg"
      title: "Blimp Welders"
      medium: "Maya, Photoshop"
      year: "2011"
    - 
      src: "/gallery/work/cintiqFirst.jpg"
      title: "Color Blast"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/clipped_wings.jpg"
      title: "CLipped Wings"
      medium: "Digital"
      year: "2012"
    - 
      src: "/gallery/work/compTroller.jpg"
      title: "Comp-Troller"
      medium: "Mixed, Digital"
      year: "2011"
    - 
      src: "/gallery/work/crypt_keeper.jpg"
      title: "Crypt Keeper"
      medium: "Digital"
      year: "2012"
    - 
      src: "/gallery/work/einstien.jpg"
      title: "Einstien"
      medium: "Digital"
      year: "2012"
    - 
      src: "/gallery/work/flower.jpg"
      title: "Flower"
      medium: "Digital"
      year: "2012"
    - 
      src: "/gallery/work/girl_flame.jpg"
      title: "Flame Girl"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/goddessOfPollution copy.jpg"
      title: "Goddess Of Pollution"
      medium: "Mixed, Digital"
      year: "2010"
    - 
      src: "/gallery/work/grotesqueFaces.jpg"
      title: "Grotesque Faces"
      medium: "Digital"
      year: "2011"
    - 
      src: "/gallery/work/kimonoSamurai.jpg"
      title: "Kimono"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/marc_andre_hamelin.jpg"
      title: "Marc Andre Hamelin"
      medium: "Digital"
      year: "2012"
    - 
      src: "/gallery/work/nature_play.jpg"
      title: "Nature Play"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/samurai.jpg"
      title: "Samurai"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/scareCrow.jpg"
      title: "ScareCrow"
      medium: "Digital"
      year: "2011"
    - 
      src: "/gallery/work/warMarch_web.jpg"
      title: "War March"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/welders_conceptDrawing.jpg"
      title: "Blimp Welders Concept"
      medium: "Digital"
      year: "2011"
    - 
      src: "/gallery/work/woman_horse.jpg"
      title: "Rider"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/woman_sketch.jpg"
      title: "Rider Sketch"
      medium: "Digital"
      year: "2013"
    - 
      src: "/gallery/work/yellowJacketNewYear.jpg"
      title: "Yellow Jacket New Year"
      medium: "Mixed"
      year: "2014"

  sketchbook: 
    - 
      src: "/gallery/sketch/Scan 1.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 2.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 3.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 4.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 5.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 6.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 7.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 8.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 9.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 10.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 11.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 13.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 14.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 15.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 16.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 17.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 18.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 20.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 23.jpg"
      title: ""
      medium: ""
      year: ""
    - 
      src: "/gallery/sketch/Scan 24.jpg"
      title: ""
      medium: ""
      year: ""
---

{% include galleries.html %}

{% include artist.html %}