---
layout: default
---
Galleries: 
  3d: 
    - 
      src: "http://placehold.it/400x400"
      title: "FooBar"
      medium: "Medium"
      year: "2009"
    - 
      src: "http://placehold.it/600x400"
      title: "BarFooo"
      medium: "Medium"
      year: "2029"
    - 
      src: "http://placehold.it/400x200"
      title: "FooBar"
      medium: "Medium"
      year: "2009"
  illustration: 
    - 
      src: "http://placehold.it/800x400"
      title: "FooBar"
      medium: "Medium"
      year: "2009"
    - 
      src: "http://placehold.it/300x400"
      title: "FooBar"
      medium: "Medium"
      year: "2009"
    - 
      src: "http://placehold.it/400x300"
      title: "FooBar"
      medium: "Medium"
      year: "2009"

---

{% include 3d.html %}

{% include 3d.html %}

{% include artist.html %}