<section class="row topic-wrapper">
  <header class="topic-title">
    <h1 id="artist">Artist</h1>
  </header>
  <div class="topic-gallery">
    <div class="topic-media">
      <img src="http://placehold.it/400x400" alt="">
    </div>
    <div class="topic-caption">
      <h3>{{site:author}}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nemo nobis porro odio odit quisquam impedit expedita enim molestias eius, illo, nisi pariatur voluptatum. Vitae provident tenetur consectetur veritatis magnam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nemo nobis porro odio odit quisquam impedit expedita enim molestias eius, illo, nisi pariatur voluptatum. Vitae provident tenetur consectetur veritatis magnam.</p>
    </div>
    <a href="mailto:{{site:email}}" class="contact-btn btn btn-primary btn-lg">Email {{site:author}}</a>
  </div>
</section>