<section class="row topic-wrapper">
  <header class="topic-title">
    <h1 id="artist">Artist</h1>
  </header>
  <div class="topic-gallery">
    <div class="topic-media">
      <img src="profile.jpg" alt="">
    </div>
    <div class="topic-caption topic-artist">
      <h3>{{site:author}}</h3>
      <p>Living and working in Boston Mass. I love what I do, looking to do it for a while.</p>
    </div>
    <a href="mailto:{{site:email}}" class="contact-btn btn btn-primary btn-lg">Email {{site:author}}</a>
  </div>
</section>