@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {background: $background-color no-repeat center top; background-size:100% auto; padding-bottom:2em}

a,
a:visited {color: $brand-color;}
a:hover {color: lighten($brand-color, 5%);}

.nav, h1, h2, h3, p {
    font-family: Oswald;
    font-weight: 300;
    color: #fff;
}

.nav a,
.nav a:visited {color: #fff;}
.nav a:hover {color: #db4549;}

/* h1 = anchor tag titles */
.nav a, h1 {font-size: 24px; text-transform: uppercase;}

/* h2 = image captions */
h2 {font-size: 16px; letter-spacing: 1px;}

/* h3 = "Max Rose" title in bio */
h3 {font-size: 24px;}

p {font-size: 16px; letter-spacing: 1px;}

.gallery {padding: 150px 0;}

.gallery img {padding: 50px 20px;}

.topic-title {}

.contact-btn {
  font-family: "Oswald";
  font-size: 2em;
  background-color: $brand-color;
  border: none;
  border-radius: 0;
  &:hover,
  &:active {
    background-color: lighten($brand-color, 5%);
    border: none;
  }
}

.site-footer {
  text-align:center; 
  margin:2em 0;
  a:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 480px) {
    .nav a, h2 {font-size: 12px;}
    h1 {text-align: center;}
    .thumbnails, .prev, .next {display: none;}
    .gallery {padding: 60px 0;}
    .gallery img {padding: 30px 0;}
}

@include media-query($on-laptop) {
    
}