.site-header {
  .title {
    margin:4em 1em 1em;
    text-align: center;
    img {max-width:auto; width:100%;}
  }
}

.nav {
  text-align: center;
  margin:1em 0;
  a {
    margin: 0 1em;
    &:first-child { margin-left:0;}
    &:last-child { margin-right:0;}
  }
}

.topic-title {
  margin: 1em 0 2em;
  padding: 1em 0;
  h1 {margin:0; padding:0;}

}

.topic-body {
  text-align: center;
  img {
    max-width: 100%;
    width:auto
  }
}

.topic-caption {
  margin: 2em;
  text-align: left;
  h2 {margin:0;}
}